body {
    font-family: 'Segoe UI Semilight';
}
/*The Modal Background*/
.modal {
    display: none; /*Hidden by default*/
    position: fixed; /*Stay in place*/
    z-index: 1; /*Sit on top*/
    padding-top: 100px; /*Location of the box*/
    left: -5%;
    top: 0;
    width: 110%; /*Full width*/
    height: 100%; /*Full height*/
    overflow: auto; /*Enable scroll if needed*/
    background-color: rgb(0,0,0); /*Fallback color*/
    background-color: rgba(0, 0, 0, 0.4); /*Black w/ opacity*/
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #eeeeee;
    margin: auto;
    padding: 20px;
    border: 1px solid #000;
    width: 80%;
  }
  .check {
    color:#00ff0055;
    text-decoration:none;
  }
  /* The Close Button */
  .close {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    text-decoration: none;
    cursor: pointer;
  }
  /* Save button */
  .save {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .save:hover,
  .save:focus {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    text-decoration: none;
    cursor: pointer;
  }