@media only screen and (min-width:800px)
{
body {
	background-image: url("materiaalkoffers/images/blauw2.jpg");
	
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
    }

.titel {
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 30pt;
    
      }

.naam1 {
    height:10%;
    width: 50%;
    float: left;
    box-sizing: border-box;
    text-align:center;
    font-size: 20pt;
    font-weight: bold;
  
      }

.naam2 {
    height: 10%;
    width: 50%;
    float:right;
    box-sizing: border-box;
    text-align:center;
    font-size: 20pt;
    font-weight: bold;
      }

.materiaal {
    height:60%;
    width: 49.75%;
    float:left;
    box-sizing: border-box;
    text-align: center;
          }

.stock {
    height:60%;
    width: 49.75%;
    float:right;
    box-sizing: border-box;
    text-align: center;
    margin-left: 0.5%;
       }
 a img{
        border-radius: 22px;
    }

}

@media only screen and (max-width:800px)
{
    body {
        background-image: url("materiaalkoffers/images/blauw2.jpg");
        
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
        }
    
    .titel {
        height: 10%;
        width: 100%;
        text-align: center;
        font-size: 30pt;
        
          }
    
    .naam1 {
        height:10%;
        width: 100%;
        box-sizing: border-box;
        text-align:center;
        font-size: 20pt;
        font-weight: bold;
      
          }
    
    .naam2 {
        height: 10%;
        width: 100%;
        box-sizing: border-box;
        text-align:center;
        font-size: 20pt;
        font-weight: bold;
          }
    
    .materiaal {
        height:60%;
        width: 100%;
        box-sizing: border-box;
        border-radius: 8px;
        text-align: center;
              }
    
    .stock {
        height:60%;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        
           }
    a img{
        border-radius: 22px;
    }

}