.Foto {
    position: absolute;

}

.Controle {
    position: absolute;
    left: 400px;
    

}
.Controle. {
    position: absolute;
    left: 400px;
    color: rgb(185, 106, 15);
    
}

.Banner{
    position: absolute;
    float: left;
    left: 0px;
}

.Banner2 {
    position: absolute;
    float: right;
    right: 0px;
 
    
}
