form,
.content {
    width: 80%;
    margin: 0px auto;
    padding: 20px;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #dceffa;
}

#user_type {
    height: 40px;
    width: 98%;
    padding: 5px 10px;
    background: white;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #dceffa;
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #dceffa;
    border: none;
    border-radius: 5px;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}

.success {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}

.profile_info img {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
    float: left;
}

.profile_info div {
    display: inline-block;
    margin: 5px;
}

.profile_info:after {
    content: "";
    display: block;
    clear: both;
}

table {
    border: 2px solid #948473;
    background-color: #dceffa;
    text-align: center;
    width: auto;
}

table td,
table th {
    border: 1px solid #5f4931;
    padding: 4px 4px;
}

table tbody td {
    font-size: 15px;
}

table tbody input {
    background-color: white;
    width: 100%;
    border: none;
}

table thead {
    background: #948473;
    background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}

table thead th {
    font-size: 17px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: left;
    border-left: 2px solid #948473;
}

table thead th:first-child {
    border-left: none;
}

table tfoot {
    font-size: 16px;
    font-weight: bold;
    color: #F0F0F0;
    background: #dceffa;
    background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}

table tfoot td {
    font-size: 16px;
}

input[type=button],
input[type=submit] {
    background-color: #dceffa;
    width: 100px;
    height: 40px;
    margin: 1%;
    border-radius: 6px;
    transition-duration: 0.4s;
}

input[type=button]:hover,
input[type=submit]:hover {
    background-color: black;
    color: white;
}

input[type=text]:focus {
    outline: none;
}