.Foto {
    position: absolute;

}

.Controle {
    position: absolute;
    left: 400px;

}
.Banner{
    position: absolute;
    float: left;
    left: 0px;
}

.Banner2 {
    position: absolute;
    float: right;
    right: 0px;
 
    
}

