
body {
  font-family: Segoe UI Semilight;
  color:black;
  background: #2D649C;
  
}
a {
  font-size: 12pt;
}
a:link  {
  font-size: 12pt;
  text-decoration: none;
}
a:hover {
text-decoration: underline;
color:#1ed0d6;
}
a:visited {
text-decoration: none;
color:purple;
}
.title {
  font-size: 16pt;
  text-decoration: underline;
}
.user {
  color:black;
}
.image {
  position:absolute;
    left:200px;
    top:50px;
    right:100px;
    z-index:-1;
    text-align:center;
}

@media only screen and (max-width: 800px) {
  .image {visibility: hidden;
          padding-right:50px;}
  .page {width:100%}
}

@media only screen and (min-width: 800px) {

}
